redis
websockets
requests
nats-py
grpcio
protobuf
pyyaml
dspy==3.1.2
openai
google-genai
pillow
minio
python-dotenv
prometheus-client>=0.20.0
#weaviate-client>=4.0
weaviate-client==4.6.7
python-arango>=8.0
psycopg2>=2.9